:root{
    --bg-header:#fcfbf9;
    --bg-footer: #1e242e;
    --bg-surface: #f9f8f6;
    --btn-primary: #f2a630;
    --link-hover: #f29e0d;
    --text-heading: #1f242e;
    --text-body: #676f7e;
    --text-link: #676f7e;
    --text-span-muted: hsl(40 33% 98% / 0.7);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-header);
    color: var(--text-body);
}
img{
    width: 100%;
}
header{
    background-color: var(--bg-header);
    padding: 30px 0;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 100px;
}
.container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-link);
}
.btn-primary{
    text-decoration: none;
    background-color: var(--btn-primary);
    color: var(--text-heading);
    padding: 8px 25px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
}
.btn-secondary{
    text-decoration: none;
    background-color: var(--bg-surface);
    color: var(--text-heading);
    padding: 8px 25px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
}
.btn-link{
    text-decoration: none;
    background-color: var(--bg-surface);
    color: var(--text-link);
    padding: 8px 25px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
}
nav a:hover{
    color: var(--link-hover);
}
nav ul{
    display:flex;
    gap: 20px;
}
header .buttons {
    display:flex;
    align-items: center;
    gap: 20px;
}
.banner{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    color: var(--text-heading);
}
h1{
    margin-bottom: 20px;
}
h2{
    margin-bottom: 10px;
}
.banner-content p{
    margin-bottom: 20px;
}
section{
    padding: 40px 0px;
}
.services{
    background-color: rgb(238, 235, 232);
}
.services-header{
    text-align: center;
    margin-bottom: 20px;
}
.services-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
}
.service{
    background-color: var(--bg-surface);
    padding: 20px;
    border-radius: 20px;
}
.service h3{
    margin-bottom: 10px;
}
.service p{
    margin-bottom: 10px;
}
.service ul{
    list-style: disc;
}
.service ul li{
    margin-bottom: 10px;
}
.service-btn{
    text-align: center;
}
.about-content-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}
.about-content strong{
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.about-content h2{
margin-bottom:  20px;
}
.about-content p{
    margin-bottom: 20px;
}
.about-content ul{
    margin-bottom: 20px;
}
.about-content ul li::before{
     content: '✓'; /* Unicode character for a check mark (U+2713) */
  /* Alternative: content: '\2713'; */
  /* Alternative: content: '✔'; (heavier checkmark U+2705 ✅) */
  color: green; /* Sets the color of the tick mark */
  display: inline-block;
  width: 1em; /* Ensures consistent spacing */
  margin-left: -1em; /* Pulls the tick mark back into the padding area */
}
.reviews-content ul{
    list-style: disc;
    padding-left: 20px;
}
.review-header{
    margin-bottom: 20px;
}
.reviews-content{
    text-align: center;
    margin-bottom: 20px;
}
.ratings{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}
.review-body{
    text-align: left;
}
.review-body * {
    margin-bottom: 15px;
}
.ratings img{
    width: 20px;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}


footer{
   background-color: var(--bg-footer);
   color: var(--text-span-muted);
   padding: 30px 0; 
}
footer .footer-list a{
    color: var(--text-span-muted);
}

footer strong, footer .footer-list  .footer-heading{
    color: var(--bg-surface);
}
.social-list img{
    width: 30px;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.footer-list strong{
    display: block;
    margin-bottom: 10px;
}
