*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    color: black;
}
img{
    width: 100%;
}
header{
    background-color: blanchedalmond;
    padding: 30px 0;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 100px;
}
.container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.btn-primary{
    text-decoration: none;
    background-color: burlywood;
    color: #000;
    padding: 8px 25px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
}
.btn-secondary{
    text-decoration: none;
    background-color: bisque;
    color: #000;
    padding: 8px 25px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
}
nav a:hover{
    color: chocolate;
}
nav ul{
    display:flex;
    gap: 20px;
}
header .buttons {
    display:flex;
    align-items: center;
    gap: 20px;
}
.banner{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}
.banner-content p{
    margin-bottom: 20px;
}
