*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    color: black;
}
header{
    background-color: blanchedalmond;
    padding: 30px 0;
    display:flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
nav a:hover{
    color: chocolate;
}
nav ul{
    display:flex;
    gap: 20px;
}
header .buttons {
    display:flex;
    gap: 20px;
}
.banner{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

