*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    color: black;
}
img{
    width: 100%;
}
header{
    background-color: blanchedalmond;
    padding: 30px 0;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 100px;
}
.container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.btn-primary{
    text-decoration: none;
    background-color: burlywood;
    color: #000;
    padding: 8px 25px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
}
.btn-secondary{
    text-decoration: none;
    background-color: bisque;
    color: #000;
    padding: 8px 25px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
}
nav a:hover{
    color: chocolate;
}
nav ul{
    display:flex;
    gap: 20px;
}
header .buttons {
    display:flex;
    align-items: center;
    gap: 20px;
}
.banner{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}
.banner-content p{
    margin-bottom: 20px;
}
section{
    padding: 40px 0px;
}
.about-content-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}
.about-content strong{
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.about-content h2{
margin-bottom:  20px;
}
.about-content p{
    margin-bottom: 20px;
}
.about-content ul{
    margin-bottom: 20px;
}
.about-content ul li::before{
     content: '✓'; /* Unicode character for a check mark (U+2713) */
  /* Alternative: content: '\2713'; */
  /* Alternative: content: '✔'; (heavier checkmark U+2705 ✅) */
  color: green; /* Sets the color of the tick mark */
  display: inline-block;
  width: 1em; /* Ensures consistent spacing */
  margin-left: -1em; /* Pulls the tick mark back into the padding area */
}
footer{
   background-color: blanchedalmond;
   padding: 30px 0; 
}
.social-list img{
    width: 30px;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.footer-list strong{
    display: block;
    margin-bottom: 10px;
}
